$white: hsl(0, 0%, 100%);
$light-pink: hsl(275, 100%, 97%);
$grayish-purple: hsl(292, 16%, 49%);
$dark-purple: hsl(292, 42%, 14%);

@font-face {
  font-family: WorkSans;
  src: url("../fonts/static/WorkSans-Regular.ttf");
}

@font-face {
  font-family: WorkSans-semi-bold;
  src: url("../fonts/static/WorkSans-SemiBold.ttf");
}

@font-face {
  font-family: WorkSans-bold;
  src: url("../fonts/static/WorkSans-Bold.ttf");
}

@mixin center-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  background-color: $light-pink;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;

  .img-container {
    width: 100%;
    height: 40vh;
    background-image: url("../images/background-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
  }

  .faq {
    transform: translateY(-15vh);
    width: 550px;
    border-radius: 0.8rem;
    padding: 1.5rem 2rem;
    background-color: $white;
    box-shadow: 10px 15px 31px 0px rgba(0, 0, 0, 0.1);

    .background-img-container {
      display: flex;

      h1 {
        margin: 0.5rem 0 0.5rem 1rem;
        font-family: WorkSans-bold, sans-serif;
        font-size: 3em;
      }
    }

    .accordion-item {
      padding: 1rem 0;
      border-bottom: 1px solid $light-pink;
      width: 100%;

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }

      .question {
        font-family: WorkSans-semi-bold, sans-serif;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        cursor: pointer;
        transition: all 0.3s ease;

        p:hover {
          color: #ad28eb;
        }

        img {
          display: none;

          &.active {
            display: block;
          }
        }
      }

      .answer {
        font-family: WorkSans, sans-serif;
        color: $grayish-purple;
        width: 100%;
        margin-top: 1rem;
        line-height: 1.6;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 0.3s ease, max-height 0.3s ease;

        &.active {
          opacity: 1;
          max-height: 250px;
        }
      }
    }
  }
}

@media screen and (max-width: 615px) {
  body {
    font-size: 14px;
  }

  .container {
    .img-container {
      background-image: url("../images/background-pattern-mobile.svg");
      background-repeat: no-repeat;
      background-position: top;
    }

    .faq {
      transform: translateY(-25vh);
      width: 70%;
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 973px) {
  body {
    font-size: 14px;
  }

  .container {
    .img-container {
      height: 40vh;
      background-repeat: no-repeat;
      background-position: top;
    }

    .faq {
      transform: translateY(-25vh);
      // width: 280px;
      margin-top: 0;
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}
